.MicContainer {
  animation: Mic-jump 1s infinite ease-in-out alternate;
}
  
@keyframes Mic-jump {
  from {
    transform: translate(0, 0) scale(1, 1);
  }
  to {
    transform: translate(0, 10%) scale(1, 0.95);
  }
}

.MicBraEsq {
  animation: Mic-wave infinite 7s ease-in-out alternate;
}
  
@keyframes Mic-wave {
  0%, 7%, 13%, 40%, 60%, 67%, 73%, 80%, 100% {
    transform-origin: 70% 80%; 
    transform: rotate(0deg);
  }
  4%, 10%, 32%, 48%, 64%, 70%, 75%, 92% { 
    transform-origin: 70% 80%; 
    transform: rotate(20deg);
  }
}

.MicOlho {
  animation: Blink infinite 10s;
}

@keyframes Blink {
  10%, 11%, 60%, 61%, 63%, 64%, 93%, 94%, 100% {
    transform: scale(1, 1);
  }
  10.5%, 60.5%, 63.5%, 93.5% {
    transform: scale(1, 0.2);
  }
}

.MarOlho {
  animation: Mar-Blink infinite 10s;
  animation-delay: 1.5s;
}
  
@keyframes Mar-Blink {
  0% {
    transform: rotate(-18.7deg);
  }
  10%, 11%, 60%, 61%, 63%, 64%, 93%, 94%, 100% {
    transform: rotate(-18.7deg) scale(1, 1);
  }
  10.5%, 60.5%, 63.5%, 93.5% {
    transform: rotate(-18.7deg) scale(1, 0.2);
  }
}

.MarBraDir {
  animation: Mar-wave infinite 9s ease-in-out alternate;
}

@keyframes Mar-wave {
  0%, 7%, 13%, 40%, 60%, 67%, 73%, 80%, 100% {
    transform-origin: 45% 95%; 
    transform: rotate(0deg);
  }
  4%, 10%, 32%, 48%, 64%, 70%, 75%, 92% { 
    transform-origin: 45% 95%; 
    transform: rotate(15deg);
  }
}

.MicOlhoP2 {
  animation: Blink2 infinite 10s;
  animation-delay: 1s;
}

@keyframes Blink2 {
  0% {
    transform: rotate(-10.5deg);
  }
  10%, 11%, 60%, 61%, 63%, 64%, 93%, 94%, 100% {
    transform: rotate(-10.5deg) scale(1, 1);
  }
  10.5%, 60.5%, 63.5%, 93.5% {
    transform: rotate(-10.5deg) scale(1, 0.2);
  }
}

.Balao {
  animation: Boing infinite 1s alternate;
}

@keyframes Boing {
  0% {
    transform: scale(1,1);
  }
  100% {
    transform: scale(1.2, 1.2) translate(-1rem, -1rem)
  }
}

.Buraco {
  animation: Breath infinite 1.5s alternate;
}

@keyframes Breath {
  0% {
    transform: scale(1, 1)
  }
  100% {
    transform: scale(0.95, 0.95)
  }
}

.MarOlhoP2 {
  animation: Mar-Blink2 infinite 10s;
}

@keyframes Mar-Blink2 {
  0% {
    transform: rotate(-28.5deg);
  }
  10%, 11%, 60%, 61%, 63%, 64%, 93%, 94%, 100% {
    transform: rotate(-28.5deg) scale(1, 1);
  }
  10.5%, 60.5%, 63.5%, 93.5% {
    transform: rotate(-28.5deg) scale(1, 0.2);
  }
}



