.PartPage {
    position: relative;
}

.FullImg {
    position: relative;
}

.MaeBoca {
    position: absolute;

    transform: rotate(-24deg);

    top: 38%;
    left: 19.5%;
}

.MaeOlho {
    position: absolute;

    transform: rotate(-21.4deg);

    top: 35%;
    left: 17.5%;
}

.MicBoca {
    position: absolute;

    top: 74%;
    left: 72%;
}

.Cara1 {
    position: absolute;

    top: 34.5%;
    left: 69%;
}

.Cara2 {
    position: absolute;

    top: 35%;
    left: 90%;
}


.TxtPage03 {
    width: 100%;

    color: rgb(180, 102, 174);
    text-align: center;

    position: absolute;
    top: -5%;
    right: 0%;

    font-size: 5.3rem;
    -webkit-text-stroke: 3px var(--brown);
    text-shadow:
       3px  3px 0 var(--brown),
      -1px -1px 0 var(--brown),  
       1px -1px 0 var(--brown),
      -1px  1px 0 var(--brown),
       1px  1px 0 var(--brown);
}