.App {
  text-align: center;
}

.Capa {
  height: 40vmin;
  pointer-events: none;
}

.MicContainer {
  width: 80vmin;
  height: 60vmin;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: Mic-jump 1s infinite ease-in-out alternate;
}

@keyframes Mic-jump {
  from {
    transform: translate(0, 0) scale(1, 1);
  }
  to {
    transform: translate(0, 10%) scale(1, 0.95);
  }
}

.MicBraEsq {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: -1%;
  left: -5%;

  animation: Mic-wave infinite 7s ease-in-out alternate;
}

@keyframes Mic-wave {
  0%, 7%, 13%, 40%, 60%, 67%, 73%, 80% {
    transform-origin: 70% 80%; 
    transform: rotate(0deg);
  }
  4%, 10%, 32%, 48%, 64%, 70%, 75%, 92% { 
    transform-origin: 70% 80%; 
    transform: rotate(20deg);
  }
}

.MicOlho {
  position: absolute;
  
  display: flex;
  align-items: center;
  justify-content: center;

  top: 39%;
  left: 29%;

  animation: Mic-Blink infinite 10s;
}

@keyframes Mic-Blink {
  10%, 11%, 60%, 61%, 63%, 64%, 93%, 94% {
    transform: scale(1, 1);
  }
  10.5%, 60.5%, 63.5%, 93.5% {
    transform: scale(1, 0.2);
  }
}


@media (min-width: 360px) {
  .MicGroupParts {
    transform: scale(0.5, 0.5)
  }
}

@media (min-width: 720px) {
  .MicGroupParts {
    transform: scale(0.8, 0.8)
  }
}

.App-header {
  background-color: #00143b;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/* partes da historinha */
img.Fundo {
  height: 100vmin;
}

