html {
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

body {
  background-color: #00143b;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  text-align: center;
}

.App-header .MicContainer {
  width: 80vmin;
  height: 60vmin;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header .MicBraEsq {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;

  top: -1%;
  left: -5%;
}

.App-header .MicOlho {
  position: absolute;
  
  display: flex;
  align-items: center;
  justify-content: center;

  top: 39%;
  left: 29%;
}

@media (min-width: 180px) {
  .MicGroupParts {
    transform: scale(0.2, 0.2)
  }
  .PartPage {
    transform: scale(0.165, 0.165)
  }
}

@media (min-width: 360px) {
  .MicGroupParts {
    transform: scale(0.5, 0.5)
  }
  .PartPage {
    transform: scale(0.34, 0.34)
  }
}

@media (min-width: 720px) {
  .MicGroupParts {
    transform: scale(0.8, 0.8)
  }
  .PartPage {
    transform: scale(0.65, 0.65)
  }
}


/* partes da historinha */

.Fundo {
  scroll-snap-align: center;
}

.Parts > * {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  scroll-snap-align: center;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: rgba(255, 255, 255, 0.5);
}

a:link, a:visited {
  text-decoration: none;
  color:rgb(255, 137, 137);
}

a:hover {
  color:rgb(206, 72, 72);
}

a:active {
  color: rgb(139, 0, 0);
}
