@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Pangolin&family=Roboto:wght@400;700&display=swap');

:root {
  --brown: rgb(44, 25, 25);
}

body {
  text-decoration: none;
  margin: 0;
  font-family: Pangolin, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.TxtPage {
  font-family: 'Gochi Hand', san-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 5rem;
  -webkit-text-stroke: 3px var(--brown);
  text-shadow:
       3px  3px 0 var(--brown),
      -1px -1px 0 var(--brown),  
       1px -1px 0 var(--brown),
      -1px  1px 0 var(--brown),
       1px  1px 0 var(--brown);
}
